<!-- File: app/code/[Vendor]/[Module]/etc/acl.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!-- Add access permission Internship -->
    <acl>
        <resources>
            <resource id="Bss_W6::internship" title="Internship" sortOrder="10">
                <resource id="Bss_W6::internship_access" title="Access Internship" sortOrder="10"/>
            </resource>
        </resources>
    </acl>
    <!-- end -->
</config>
